.contact-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: 100%;
  height: 80vh;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.con-h1{
    font-size: 50px;
    margin-left: 100px;
    margin-top: 50px;
}
form{
    margin-left: 100px;
}
form input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border-color: transparent;
}
.msg{
    width: 300px;
    height: 80px;
}
.email{
    width: 150px;
    height: 50px;
    margin-left: 70px;
    color: #FFFFFF;
    background-color: black;
    border: 2px solid black;
}
.email:hover{
    color: black;
    background-color: #FFFFFF;
    border: 2px solid black;
}

footer{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p{
  font-family: calibri;
}
footer p:nth-child(1){
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
.social-icons a{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icons{
  display: flex;
}
.social-icons i{
  color: #000000;
}
.social-icons a:hover{
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons a:hover i{
  color: #FFFFFF;
  transition: all ease 0.5s;
}
.phone{
display: flex;
margin-bottom: 50px;
}
.head{
    margin-right: 50px;
}
.copyright{
color: #565555;
font-size: 13px;
position: absolute;
left: 50%;
transform: translateX(-50%);
}