ul {
  list-style: none;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5px;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}

@font-face {
  font-family: RoadTest;
  src: url(../RoadTest.ttf);
}

.logo {
  font-family: RoadTest;
  color: #000000;
  font-size: 22px;
}
.active {
  font-weight: bold;
  color: #000000;
}
